body {
    margin: 0;

    p,h1,h2,h3 {
        margin: 0;
    }

    main {
        display: flex;

        .request-setting {
            text-align: center;
            flex-basis: 40%;
            padding: 30px;

            p {
                color: rgb(99, 98, 98);
                font-family:Verdana, Geneva, Tahoma, sans-serif
            }

            #error {
                font-size: 10px;
            }

        }
        
        .request-result {
            display: none;
            flex-basis: 60%;
            padding: 30px;

            h3 {
                color: rgb(56, 116, 64);
                font-family:Verdana, Geneva, Tahoma, sans-serif
            }

            p {
                font-family:Verdana, Geneva, Tahoma, sans-serif
            }

            button.log {
                margin: 10px;

            }
        }
    }   
}