<div class="header">
    <div class="headerTop">
        <div class="logo">
            <a href="#">
                <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_256.png" alt="Logo" class="logoImage">
            </a>
        </div>
        <div class="authButtons">
            <div class="button"><a href="#">Sign In</a></div>
            <div class="button"><a href="#">Sign Up</a></div>
        </div>
    </div>
        <div class="navigation">
            <a href="" class="navBlock">Homepage</a>
            <a href="" class="navBlock">About Us</a>
            <a href="" class="navBlock">Contacts</a>
            <a href="" class="navBlock">Gallery</a>
        </div>			
</div>